@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
:root {
  --width-field: 640px;
  --height-field: 480px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.start-btn > img {
  vertical-align: middle;
  margin-right: 8px;
}
.start-btn {
  flex-basis: 50%;
  max-width: 130px;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color:rgba(33, 33, 33, 0.7);
  background-color: rgb(89, 255, 0);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  letter-spacing: 0.1rem;
}
.start-btn_hover:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgba(89, 255, 0, 0.7);
}
.start-btn_active:active {
  background-color: rgba(255, 127, 80, 0.7);
}
.controls {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.scores {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-self: center;
  font-weight: bold;
  font-size: 2rem;
}
.field {
  background-color: rgb(241, 210, 33);
  width: var(--width-field);
  height: var(--height-field);
  position: relative;
}
.field__counter {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.racket {
  width: calc(var(--width-field) * 0.021);
  height: calc(var(--height-field)* 0.25);
  position: absolute;
  z-index: 1;
}
.racket-player1 {
  background-color: rgb(41, 173, 85);
  top: 5%;
  left: 0;
}
.racket-player2 {
  background-color: rgb(25, 0, 255);
  bottom: 5%;
  right: 0;
}
.ball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--height-field)* 0.075);
  height: calc(var(--height-field)* 0.075);
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  z-index: 1;
}
