@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: rgb(241, 210, 33) url('./assets/bg.webp') no-repeat center;
  background-size: cover;
}